/* Theme Colors */
$theme_green : #29c000;
$theme_blue : #006493;
$theme_gray : #e2e2e2;

/* Formats - extends */

.common_large_margin{
  margin: 80px 0;
}
.common_large_padding{
  padding: 80px 0;
}