@import "../constants";
a:hover {
  text-decoration: none;
}

.squre-box-img {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background: top no-repeat;
  width: 70px;
  height: 70px;
  overflow: hidden;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  position: relative;
  top: -8px;
}

.site-bar-white {
  height: 15px;
  width: 100%;
  position: relative;
  top: 15px;
  background: #ffffff;
}

#learning-amb {
  overflow-x: hidden;
  font-size: 16px;
  box-sizing: border-box;
  h1 {
    font-size: 3em;
    color: $theme_blue;
    text-align: center;
    font-family: Roboto-Regular;
    text-transform: uppercase;
    padding: 10px 30px 0px 30px;
    margin: 0 auto;
  }
  .well {
    max-width: 477px;
    padding-top: 0;
    margin: auto;
  }
  .page-container-amb {
    padding-top: 50px;
    background: $theme_blue;
    height: auto;
    overflow: auto;
    overflow-x: hidden;
    width: 100%;
    clear: both;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .child-pages-boxed {
    color: #ffffff;
    font-family: Roboto-Light;
  }
  h2 {
    padding-top: 0;
    font-family: Roboto-Bold;
    margin-top: 0;
    font-size: 2.1vw;
    color: inherit;
  }
  .no-lr-mar a img {
    padding: 0px !important;
    margin: 0px !important;
    margin-top: 0px !important;
  }
}

@media (min-width: 1800px) {}

img.wp-post-image {
  padding: 0px !important;
  margin: 0px !important;
  margin-top: 0px !important;
}

#learning-amb {
  .sub-footer-amb {
    background: url(/images/ambrosia-learning-center-green-bg.jpg) center;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    padding-top: 80px;
    padding-bottom: 80px;
    margin-top: 50px;
  }
  .sub-foot-box {
    background: rgba(255, 255, 255, 0.7);
    box-sizing: border-box;
    padding: 30px 20px;
    font-size: 18px;
    text-align: center;
    width: 100%;
    h4 {
      font-size: 1.5em;
      font-family: Roboto-Bold;
      border-bottom: #29C000 1px solid;
      padding-bottom: 4px;
      display: block;
      max-width: 80%;
      text-align: center;
      margin: 0px auto 20px auto;
    }
    p {}
  }
  .h-line {
    width: 90%;
    height: 1px;
    background: #ffffff;
  }
}

.side-form-amb {
  background: #ffffff;
  box-sizing: border-box;
  padding: 20px;
  h3 {
    box-sizing: border-box;
    padding: 0px;
    font-family: Roboto-Bold;
    font-size: 2em;
    color: $theme_blue;
  }
  p {
    color: #333333;
  }
  .link-style-amb {
    font-family: Roboto-Bold;
    color: $theme_blue;
    font-size: 1.2em;
    &:hover {
      text-decoration: none;
    }
    &:before {
      font-family: "FontAwesome";
      content: "\f0da";
      margin-right: 15px;
    }
  }
  a.btn {
    color: #ffffff;
    display: block;
    padding: 10px 30px;
    font-size: 1.5em;
    margin: 40px auto 20px auto;
    border-radius: 10px;
    background: #29C000;
    width: 100%;
    max-width: 260px;
    text-align: center;
    font-family: Roboto-Light;
  }
}

.side-content-amb {
  background: #e2e0e0;
  box-sizing: border-box;
  padding: 20px;
  h4 {
    font-family: Roboto-Bold;
    font-size: 2em;
    color: #333333;
    text-align: center;
  }
  img {
    width: 100%;
    height: auto;
    max-width: 65px;
    border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
  }
  .post-out-amb {
    margin-top: 10px;
    a {
      color: $theme_blue;
      display: inline-block;
      font-size: 18px;
      padding-left: 4px;
      font-family: Roboto-Medium;
      margin-top: 7px;
      line-height: 20px;
    }
  }
}

.page-container-amb table td {
  vertical-align: middle;
  &:nth-child(1) {
    width: 60%;
  }
  &:nth-child(2) {
    width: 20%;
  }
  &:nth-child(3) {
    width: 10%;
  }
}

.side-content-amb.white {
  background: #ffffff !important;
}

#insurance-foot-block img {
  width: 100%;
}

#types-of-addiction {
  h3 {
    font-size: 2.8em;
    color: $theme_blue;
    text-align: left;
    font-family: Roboto-Black;
    padding: 30px;
  }
  .rotator {
    width: 100%;
    overflow: hidden;
    height: auto;
  }
  .rotator-inner {
    width: 100000px;
    height: auto;
  }
  .rotator-item {
    width: 250px;
    float: left;
    text-align: center;
    position: relative;
  }
  .img-box-amb {
    background: $theme_blue;
    padding: 30px;
    height: 130px;
    box-sizing: border-box;
    border-radius: 50%;
    margin: 20px auto;
    width: 130px;
  }
  .rotator-item {
    img {
      margin: auto;
      width: 100%;
      max-width: 140px;
      height: auto;
      display: block;
    }
    h4 {
      color: $theme_blue;
      font-family: Roboto-Light;
      text-transform: uppercase;
      font-size: 1.2em;
      padding-left: 2px;
      padding-right: 2px;
    }
  }
  .fa-chevron-left,.v_1 .fa-backward {
    color: $theme_blue;
    position: absolute;
    left: 0;
    margin-top: 70px;
    z-index: 100;
  }
  .fa-chevron-right, .v_1 .fa-forward {
    color: $theme_blue;
    position: absolute;
    right: 0;
    margin-top: 70px;
    z-index: 100;
  }
}

#sidebar-2 h3 {
  color: #333333;
  font-size: 1.8em;
  padding-bottom: 0px;
}

@media (max-width: 1440px) {
  #learning-amb h2 {
    font-size: 3vw;
  }
  .side-content-amb .post-out-amb a {
    font-size: 1.1vw;
  }
  #learning-amb .no-lr-marg {
    padding-right: 0px;
    margin-top: 10px;
    padding-left: 4px;
  }
  .page-container-amb table td:nth-child(2) {
    width: 1%;
  }
  .h-line {
    display: none;
  }
  #learning-amb {
    .col-lg-10.col-lg-offset-1 {
      width: 100%;
      margin-left: 0;
      box-sizing: border-box;
      padding: 20px;
    }
    .squre-box-img {
      width: 100%;
    }
  }
}

@media (max-width: 1215px) {
  #learning-amb .pad-20 {
    padding: 20px;
  }
}

@media (max-width: 1197px) {
  .squre-box-img {
    width: 50px;
    height: 50px;
  }
}

@media (max-width: 1080px) {
  #learning-amb .sub-foot-box {
    margin: auto;
  }
  #sidebar-2 h3 {
    text-align: center;
  }
  #types-of-addiction {
    .rotator {
      width: 90%;
      margin: auto;
    }
    .fa-chevron-right,.v_1 .fa-forward {
      right: 30px;
    }
    .fa-chevron-left,.v_1 .fa-backward {
      left: 30px;
    }
  }
}

@media (max-width: 998px) {
  .page-container-amb table {
    width: 88%;
    margin-left: 40px;
  }
  .side-content-amb .post-out-amb a {
    font-size: 18px;
  }
  .side-bar-amb-learn {
    width: 100%;
    max-width: 400px;
    margin: auto;
  }
  .page-container-amb table td:nth-child(2) {
    width: 1%;
  }
  .h-line {
    display: none;
  }
  .page-container-amb table td:nth-child(1) {
    width: 37%;
  }
  .side-content-amb h4 {
    margin-bottom: 30px;
  }
}

@media (max-width: 7005px) {}

@media (max-width: 700px) {
  .page-container-amb table td {
    &:nth-child(3) {
      width: 16%;
    }
    &:nth-child(2) {
      width: 1%;
    }
  }
  #learning-amb .col-lg-10.col-lg-offset-1 {
    padding: 0px;
  }
  .page-container-amb table {
    width: 100%;
    margin-left: 0px;
  }
  #learning-amb {
    h2 {
      font-size: 28px;
    }
    h1 {
      font-size: 2em;
      padding-top: 0;
    }
  }
}
.hr-shadow-aaa{
  border:none;
}
/* hexagonagons */

#hexagon {
  overflow: visible;
  width: 100%;
  margin: 0 auto;
  font-size: 15px;
  padding: 0.866% 0 16% 0;
  &:after {
    content: "";
    display: block;
    clear: both;
  }
}

.hexagon {
  position: relative;
  list-style-type: none;
  float: left;
  overflow: hidden;
  visibility: hidden;
  outline: 1px solid transparent;
  /* fix for jagged edges in FF on hover transition */
  transform: rotate(-60deg) skewY(30deg) translatez(-1px);
  * {
    position: absolute;
    visibility: visible;
    outline: 1px solid transparent;
    /* fix for jagged edges in FF on hover transition */
  }
}

.hexagonIn {
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  color: #fff;
  overflow: hidden;
  transform: skewY(-30deg) rotate(60deg);
}

.hexagon {
  img {
    left: -100%;
    right: -100%;
    height: 112%;
    width: 151%;
    margin: 0 auto;
    top: -17px;
    max-width: none;
  }
  .hexagon-bg {
    background: center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    left: -100%;
    right: -100%;
    height: 112%;
    width: 151%;
    margin: 0 auto;
    top: -17px;
    max-width: none;
    &.blank-hexagon {
      width: 80%;
      height: 100%;
    }
  }
  .gray-hexagon {
    background-image: url("/wp-content/uploads/2016/09/gray-hex.png");
  }
  .green-hexagon {
    background-image: url("/wp-content/uploads/2016/09/green-hex.png");
  }
  .people-hexagon {
    background-image: url("/wp-content/uploads/2016/09/hex-people.png");
  }
  .news-hexagon {
    background-image: url("/wp-content/uploads/2016/09/hex-news.png");
  }
  .clipboard-hexagon {
    background-image: url("/wp-content/uploads/2016/09/hex-clipboard.png");
  }
  .locations-hexagon {
    background-image: url("/wp-content/uploads/2016/09/hex-locations.png");
  }
  .hexagon-bg-inner {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 100%;
  }
  h3, p {
    color: #ffffff;
    text-align: center;
    position: relative;
    display: inline-block;
    padding-bottom: 6px;
    font-family: Roboto-Medium;
  }
  h3 {
    text-shadow: -1px 2px 2px rgba(0, 0, 0, 0.32);
    margin: 32% auto 0 auto;
    border-bottom: 3px #ffffff solid;
    font-size: 24px;
    font-weight: 900;
    text-transform: uppercase;
    border-bottom: 3px #ffffff solid;
    &.no-boarder {
      border-bottom: none;
    }
  }
  p {
    font-size: 23px;
    font-weight: lighter;
    width: 100%;
    max-width: 50%;
    display: block;
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    line-height: 127%;
  }
  .hexagon-hover {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 0;
    background: rgba(204, 204, 204, 0.5);
  }
  .hexagonIn {
    &:hover .hexagon-hover {
      height: 500px;
    }
    h3:before {
      z-index: 15;
      opacity: 0;
      font-size: 0;
      position: absolute;
      content: '';
      -webkit-transition: all 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
      -moz-transition: all 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
      -o-transition: all 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
      transition: all 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
      -webkit-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
      -moz-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
      -o-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
      transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
      -webkit-transition-delay: .3s;
      -moz-transition-delay: .3s;
      -ms-transition-delay: .3s;
      -o-transition-delay: .3s;
      transition-delay: .3s;
      text-shadow: -1px 2px 2px rgba(0, 0, 0, 0);
    }
  }
  .link-icon:after {
    z-index: 15;
    opacity: 0;
    font-size: 0;
    position: absolute;
    content: '';
    -webkit-transition: all 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -moz-transition: all 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -o-transition: all 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition: all 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -webkit-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -moz-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -o-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -webkit-transition-delay: .3s;
    -moz-transition-delay: .3s;
    -ms-transition-delay: .3s;
    -o-transition-delay: .3s;
    transition-delay: .3s;
    text-shadow: -1px 2px 2px rgba(0, 0, 0, 0);
  }
  .hexagonIn:hover h3:before {
    opacity: 1;
    position: absolute;
    left: 0;
    right: 0;
    margin: -60px auto 0 auto;
    display: block;
    color: #1A688E;
    font-family: FontAwesome;
    content: '\f0c1';
    font-size: 80px;
    text-shadow: -1px 2px 2px rgba(0, 0, 0, 0.32);
  }
  .link-icon {
    left: 0;
    right: 0;
    margin: 0px auto 0 auto;
    top: 44%;
    &:after {
      position: absolute;
      opacity: 0;
      left: 0;
      right: 0;
      margin: 0px auto 0 auto;
      color: #1A688E;
      font-family: FontAwesome;
      content: '\f0c1';
      font-size: 0px;
      text-shadow: -1px 2px 2px rgba(0, 0, 0, 0.32);
      z-index: 300;
    }
  }
  .hexagonIn:hover .link-icon:after {
    opacity: 1;
    top: 44%;
    font-size: 80px;
    z-index: 300;
  }
}

@media (max-width: 1201px) {
  .hexagon .blank-hexagon-el {
    display: none !important;
  }
}

@media (min-width: 1820px) {
  .hexagon {
    .people-hexagon, .news-hexagon, .clipboard-hexagon, .locations-hexagon {
      background-size: 84%;
      background-position: 60% 3%;
    }
  }
}

@media (max-width: 1820px) {
  .hexagon {
    .people-hexagon, .news-hexagon, .clipboard-hexagon, .locations-hexagon {
      background-size: 84%;
      background-position: 59% 16%;
    }
  }
}

@media (max-width: 650px) {
  #learning-amb .page-container-amb {
    overflow-x: hidden;
  }
  .hexagon {
    .people-hexagon, .news-hexagon, .clipboard-hexagon, .locations-hexagon {
      background-size: 84%;
      background-position: 60% 24%;
    }
  }
}

@media (max-width: 550px) {
  .hexagon {
    .news-hexagon {
      background-image: url("/wp-content/uploads/2016/09/hex-news-sm.png");
    }
    .people-hexagon {
      background-image: url("/wp-content/uploads/2016/09/hex-people-sm.png");
    }
    .clipboard-hexagon {
      background-image: url("/wp-content/uploads/2016/09/hex-clipboard-sm.png");
    }
    .locations-hexagon {
      background-image: url("/wp-content/uploads/2016/09/hex-locations-sm.png");
    }
    .people-hexagon, .news-hexagon, .clipboard-hexagon, .locations-hexagon {
      background-size: 89%;
      background-position: 72% -4px;
    }
  }
}

@media (max-width: 450px) {
  .hexagon {
    .people-hexagon, .news-hexagon, .clipboard-hexagon, .locations-hexagon {
      background-size: 90%;
      background-position: 70% -4px;
    }
  }
}
.hexagonIn {
  &:hover h3:before, &:focus h3:before {
    z-index: 30;
    -webkit-transform: translateY(70px) translatez(0px);
    -moz-transform: translateY(70px) translatez(0px);
    -ms-transform: translateY(70px) translatez(0px);
    -o-transform: translateY(70px) translatez(0px);
    transform: translateY(70px) translatez(0px);
  }
}

.hexagon i.hexagon-icon {
  margin-top: 35%;
  font-size: 101px !important;
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  color: #ffffff;
  &:hover, &:active {
    color: #ffffff !important;
  }
}

@media (min-width: 1201px) {
  .hexagon {
    width: 32.666%;
    padding-bottom: 37.720%;
    &:nth-child(5n+1), &:nth-child(5n+2) {
      transform: translateX(50%) rotate(-60deg) skewY(30deg);
    }
    &:nth-child(5n+3), &:nth-child(5n+4), &:nth-child(5n+5) {
      margin-top: -8.564%;
      margin-bottom: -8.564%;
    }
    &:nth-child(5n+2), &:nth-child(5n+4) {
      margin-right: 1%;
      margin-left: 1%;
    }
    &:nth-child(5n+1) {
      margin-left: 0.5%;
    }
    &:nth-child(5n+3), &:nth-child(5n+6) {
      clear: left;
    }
  }
}

@media (max-width: 1450px) {
  .hexagon p {
    font-size: 19px;
  }
}

@media (max-width: 1200px) {
  #hexagon {
    padding-bottom: 130px;
  }
  .hexagon {
    width: 49.5%;
    /* = (100-1) / 2 */
    padding-bottom: 57.158%;
    /* =  width / sin(60) */
    &:nth-child(3n+1) {
      transform: translateX(50%) rotate(-60deg) skewY(30deg);
    }
    &:nth-child(3n+2), &:nth-child(3n+3) {
      margin-top: -13.423%;
      margin-bottom: -13.423%;
    }
    &:nth-child(3n+1) {
      margin-left: 0.5%;
    }
    &:nth-child(3n+3) {
      margin-left: 1%;
    }
    &:nth-child(3n+2), &:nth-child(3n+4) {
      clear: left;
    }
  }
}

@media (max-width: 550px) {
  .hexagon {
    h3 {
      font-size: 18px;
    }
    p {
      font-size: 16px;
    }
  }
}

@media (max-width: 500px) {
  #learning-amb .page-container-amb {
    padding-top: 0px;
  }
  .hexagon {
    h3 {
      margin-top: 34%;
    }
    width: 71.5%;
    padding-bottom: 80.158%;
    -moz-transform: translateX(20%) rotate(-60deg) skewY(30deg);
    -webkit-transform: translateX(20%) rotate(-60deg) skewY(30deg);
    -mos-transform: translateX(20%) rotate(-60deg) skewY(30deg);
    -o-transform: translateX(20%) rotate(-60deg) skewY(30deg);
    transform: translateX(20%) rotate(-60deg) skewY(30deg);
    &:nth-child(3n+2), &:nth-child(3n+3) {
      margin-top: -2.423%;
      margin-bottom: 16.577%;
    }
    &:nth-child(3n+1), &:nth-child(3n+2), &:nth-child(3n+3) {
      -moz-transform: translateX(20%) rotate(-60deg) skewY(30deg);
      -webkit-transform: translateX(20%) rotate(-60deg) skewY(30deg);
      -mos-transform: translateX(20%) rotate(-60deg) skewY(30deg);
      -o-transform: translateX(20%) rotate(-60deg) skewY(30deg);
      transform: translateX(20%) rotate(-60deg) skewY(30deg);
    }
    &:nth-child(3n+2), &:nth-child(3n+3) {
      margin-top: 20.577%;
    }
    &:nth-child(3n+2), &:nth-child(3n+3) {
      margin-top: 20.577%;
      margin-bottom: 1.577%;
    }
    &:nth-child(3n+1), &:nth-child(3n+2), &:nth-child(3n+3) {
      margin-top: 10%;
    }
    &:last-child {
      margin-bottom: 25%;
    }
  }
}

@media (max-width: 400px) {
  #hexagon {
    font-size: 13px;
  }
}


/* ---------------------------------
  v_1 Update styles
-------------------------------------*/
.v_1{
  padding-top: 20px;

  .rotator{
    background: lighten($theme_gray, 6%);
    box-sizing: border-box;
    padding-top: 32px;
  }
  .rotator-item{
    h4{
      width: 80%;
      margin: auto;
    }
  }
  .fa-backward, .fa-forward{
    background: $theme_gray;
    height: 282px;
    width: 31px;
    margin-top: -32px !important;
    padding-top: 130px;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;

    &.off{
      color:darken($theme_gray,12%) !important;
    }
  }
  @media (max-width: 600px){
    .rotator{
      width: 100% !important;
    }
    .fa-backward {
      left: 0px !important;
      width: 35px;
    }
    .fa-forward {
      width: 35px;
      right: 0px !important;
    }
  }
}
.v_1_1{
  .post-body{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 281px;
    width: 100%;
    overflow: hidden;
    h4{
      margin-left: 50px;

      @media (max-width: 992px) {
        margin-left: 30px;
      }
    }
  }
  .post-body-inner{
    height: 280px;
    position: relative;

    .post-item{
      float: left;
      margin-bottom: 40px;
      margin-left: 50px;

      @media (max-width: 992px) {
        margin-left: 30px;
      }

      .profile-img{
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background: center no-repeat;
        border: 2px darken($theme_gray,12%) solid;
        width: 100%;
        height: 100px;
        overflow: hidden;
        border-radius: 0;
        position: relative;
      }
      .link-text{
        margin-left:15px;
        position: relative;
        top: -8px;
        line-height: 28px;
        box-sizing: border-box;
        padding-right: 10px;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
      }
    }
  }
  padding-top: 20px;

  .fa-backward,.fa-forward{
    position: relative;
    float: right;
    background: $theme_gray;
    padding: 9px;
    margin-left: 11px;
    color: $theme_blue;
    margin-top: 15px;
    cursor: pointer;

    &.off{
      color:darken($theme_gray,12%) !important;
    }
  }
  .fa-backward{
    right:0;
  }
  .fa-forward{
    right:0;
    margin-right: 27px;
  }
}
.main-sidebar #diamond {
  width: 0;
  height: 0;
  border: none !important;

}